nav.navigation#navigation
  .nav__item_wrap.drawer
    ul.nav__items
      li.nav__item
        a(href="#top") Re:sume.org
      li.nav__item
        a(href="#about") about
      li.nav__item
        a(href="#statement") statement
      li.nav__item
        a(href="#docs") Re:sume
      li.nav__item
        a(href="#contact") contact
      li.nav__item.sns
        a(href="https://twitter.com/re_sume_", target="_blank").icon_twitter
          include ../images/_icon_twitter.svg
        //- a(href="https://www.instagram.com/mrls_hita/", target="_blank").icon_instagram
        //-   include ../images/_icon_instagram.svg
  
  .btn_hamburger__wrap
    a().btn_hamburger#navBtn
      span
      span
      span
